.button-area {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 200px;
  .btn {
    padding: 0.7em 1.5em;
    font-size: 0.9em;
    margin: .5em;
    text-decoration: none;
    flex-grow: 2;
    text-align: center;
  }
}

.mission-set {
  h5 {
    color: #000080;
    font-size: 0.9rem;
  }
  h6 {
    font-weight: bold;
    font-size: 0.8rem;
    span {
      font-weight: 500;
      text-transform: capitalize;
    }
  }
  ul li {
    font-size: 0.8rem;
  }

  img {
    background: #e2e2e2;
    padding: 1rem;
  }
}

footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}